header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.377), rgba(0, 0, 0, 0.377)),
    url("images/texture-1909992_1920.jpg");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 56px;
  color: white;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  background: #fcffae88;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.about img {
  border-radius: 50%;
  width: 150px;
  margin-top: -30px;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 12px;
}
a {
  color: #1124d1;
  font-style: italic;
  text-decoration: none;
}
a:hover {
  color: red;
}
/* SKILLS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
}

.skills-content {
  margin: 0 auto 70px auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.skills-column {
  flex: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.progress-container {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.progress-value,
.progress-badge {
  color: #700902;
  font-size: 0.8571em;
  text-transform: uppercase;
}

.progress-value {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 0.8571em;
}

.progress {
  margin-top: 14px;
  background: rgba(209, 196, 19, 0.4);
}

.progress-bar {
  height: 5px;
  background: #a19203;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
  overflow-x: hidden;
}

.timeline h2 {
  text-align: center;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgba(209, 196, 19, 0.4);
  color: white;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #0d47bbc5;
}

.timeline .bubble {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #073ba1;
  box-sizing: border-box;
}

.timeline .bubble::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .bubble {
  left: 45px;
}

.timeline ul li:nth-child(odd) .bubble::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #073aa1cb transparent transparent;
}

.timeline ul li:nth-child(even) .bubble {
  left: -439px;
}

.timeline ul li:nth-child(even) .bubble::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #073aa1cb;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.bubble span {
  font-weight: bold;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #062d7ac5;
}

.timeline .bubble {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) .bubble {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) .bubble {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view .bubble {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* FORMATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h4 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.formation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
}

.formation-column {
  flex: 50%;
  padding-right: 15px;
  padding-left: 15px;
}

.formation {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  background: #073aa173;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  padding: 20px;
  padding-top: 35;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

/* LANGUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h5 {
  font-size: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
}

.langues {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
}

.langues-content {
  margin: 0 auto 70px auto;
  padding: 20px;
  width: 40%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.langues-column {
  flex: 50%;
  padding-right: 65px;
  padding-left: 65px;
}

.progress-container {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.progress-value,
.progress-badge {
  color: #024870;
  font-size: 0.8571em;
  text-transform: uppercase;
}

.progress-value {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 0.8571em;
}

.progress {
  margin-top: 14px;
  background: rgba(22, 62, 240, 0.4);
}

.progress-bar {
  height: 5px;
  background: #010c6e;
}

/* CONTACT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
  width: 60%;
}

iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

form {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #9b9a9a;
  flex-grow: 1;
}

.form-group:first-of-type {
  margin-right: 30px;
}

label {
  font-size: 16px;
  color: #000000;
  padding: 5px;
}

input {
  width: 100%;
  color: #555555;
  border: none;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  border: none;
  min-height: 110px;
  color: #555555;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  padding: 0 20px;
  min-width: 130px;
  height: 50px;
  background-color: #9b7b12;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
}

/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  h1 {
    padding: 10px;
  }
  .about {
    width: 100%;
    padding: 0;
    margin: 70px auto;
  }
  .about p {
    padding: 0 15px;
  }

  .skills-content {
    width: 100%;
    padding: 15px 0;
  }

  .langues-content {
    width: 100%;
    padding: 15px 0;
  }

  .timeline .bubble {
    width: 250px;
  }
  .timeline ul li:nth-child(even) .bubble {
    left: -289px;
    /*250+45-6*/
  }
}

.contact {
  margin: 30px;
  width: unset;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 46px;
  }
  .progress-value,
  .progress-badge {
    font-size: 12px;
  }
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline .bubble {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) .bubble {
    left: 45px;
  }
  .timeline ul li:nth-child(even) .bubble::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent transparent transparent #04225c;
  }
  .skills-content {
    flex-direction: column;
  }
  .formation-content {
    flex-direction: column;
  }
}

form {
  display: flex;
  flex-direction: column;
}
.row {
  flex-direction: column;
}
.form-group:first-of-type {
  margin-right: 0;
}
